# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
chat-system-app/db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
chat-system-app/vendor/* linguist-vendored
chat-system-app/config/credentials/*.yml.enc diff=rails_credentials
chat-system-app/config/credentials.yml.enc diff=rails_credentials
